// bower:scss
// endbower

body {
  margin: 0px;
  overflow: hidden;
  background-color: black;
}

#mycanvas {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: '100%';
  height: '100%';
  bottom: 0;
  z-index: 0;
}

#cboard {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 75px;
  height: 75px;
  z-index: 1;
}